name = "cf-ai-edge-agent-worker"
main = "src/index.ts"
compatibility_date = "2026-02-02"

[ai]
binding = "AI"

[[durable_objects.bindings]]
name = "CHAT_SESSION"
class_name = "ChatSessionDO"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["ChatSessionDO"]

